<NrgModal @headerText={{this.headerText}} @isOpen={{this.isOpen}} @action={{action "viewChanges"}} @primaryButton="View Changes" @secondaryButton="Cancel">
  <p>
    {{this.message}}
  </p>
</NrgModal>